/robot-core/target/
/.idea/sonarlint/
/robot-core/installation/Robot/Programme/reconnaissance-visage/python-server/face/__pycache__/
/robot-core/installation/Robot/Programme/reconnaissance-visage/python-server/object/__pycache__/
/robot-core/installation/Robot/Programme/reconnaissance-visage/python-server/test_log.log
/robot-core/installation/Robot/Programme/reconnaissance-visage/python-server/utils/__pycache__/
test_log.log
/null/
