.liveVideo {
	display: inline;
	width: 100%;
	max-width: 640px;
}

#conteneurImagesVisage {
	height: 200px;
	overflow-y: scroll;
	border: 1px solid #cdcdcd;
	padding: 3px;
}

#animationListeImages {
	padding: 3px;
}

#oeilGaucheSlider .slider-selection {
	background: #BABABA;
}
#oeilDroitSlider .slider-selection {
	background: #BABABA;
}