.chat-container {
  background-color: #d6d6d6;
  padding: 10px;
  border-radius: 10px;
}

.message-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 250px;
}

.message {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.message-container {
  /*display: inline-block;*/
  width: 90%;
}

.message-text {
  /*display: inline-block;*/
  max-width: 70%;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.message-time {
  color: #5f5f5f;
  font-size: 10px;
}

.message-avatar {
  width: 10%;
  vertical-align: top;
  text-align: center;
}

.message-icon {
  font-size: 20px;
  width: 35px;
  height: auto;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

.message-icon img {
  width: 100%;
}

.icon-user {
  border-color: #5f5f5f;
}

.icon-robot {
  border-color: #5f5f5f;
}

.message-username {
  color: black;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.message-bottom {
  padding: 10px 10px;
}

.message-bottom .message-input-wrapper {
  /*display: flex;*/
  width: 100%;
  height: 40px;
  border-radius: 25px;
  background-color: white;
}
.message-bottom .message-input-wrapper .message-input {
  /*justify-content:flex-start;*/
  width: calc(100% - 40px);
  border: none;
  outline: none;
  border-radius: 50px;
  padding-left: 15px;
}

.message-bottom .message-input-wrapper .message-send-icon {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: blue;
  padding-left: 3px;
}

.message-bottom .message-input-wrapper .message-send-icon:hover {
  background-color: darkblue;
  cursor: pointer;
}

/*.message-bottom .send-message {*/
/*  width: 140px;*/
/*  height: 50px;*/
/*  display: inline-block;*/
/*  border-radius: 50px;*/
/*  background-color: #a3d063;*/
/*  border: 2px solid #a3d063;*/
/*  color: #fff;*/
/*  cursor: pointer;*/
/*  transition: all 0.2s linear;*/
/*  text-align: center;*/
/*  float: right;*/
/*}*/
/*.message-bottom .send-message:hover {*/
/*  color: #a3d063;*/
/*  background-color: #fff;*/
/*}*/

/*.message-bottom .send-message .text {*/
/*  font-size: 18px;*/
/*  font-weight: 300;*/
/*  display: inline-block;*/
/*  line-height: 48px;*/
/*}*/
