<div class="row">
  <div class="col-6">
    <div class="card bg-secondary text-white">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="card-title">Video</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-screen></app-screen>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card bg-secondary text-white">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="card-title">Chat</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-chat></app-chat>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card bg-secondary text-white">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="card-title">Controls</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-head-controller></app-head-controller>
      </div>
    </div>
  </div>
</div>
